@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);




.btn.btn-primary {
  background-color: #29d9c2;
  border-color: #29d9c2;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #111111;
  border-color: #111111;
}
.btn.btn-info {
  background-color: #27aae0;
  border-color: #27aae0;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #177aa3;
  border-color: #177aa3;
}
.btn.btn-success {
  background-color: #0300ff;
  border-color: #0300ff;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #0200b3;
  border-color: #0200b3;
}
.btn.btn-warning {
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn.btn-danger {
  background-color: #ff5722;
  border-color: #ff5722;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #d43300;
  border-color: #d43300;
}
.text-primary {
  color: #29d9c2 !important;
}
.text-info {
  color: #27aae0 !important;
}
.text-success {
  color: #0300ff !important;
}
.text-warning {
  color: #faaf40 !important;
}
.text-danger {
  color: #ff5722 !important;
}
a {
  color: #29d9c2;
}
a:hover,
a:focus,
a.focus,
a:active,
a.active {
  color: #1b9a8a;
}
.mbr-primary-color,
.s2-box:hover .s2-box-ico div,
.content8 .nav-tabs > li > a::after,
.extFooter1 ul li:before,
.mbr-gallery-filter li:hover,
.extFooter1 ul li a:hover {
  color: #29d9c2 !important;
}
.navbar-nav > li > a:hover,
.dropdown1-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu a:hover,
.nav-tabs > li.active > a,
.content8 .nav-tabs > li.active > a {
  color: #29d9c2 !important;
}
.cta-wrap.bg-dark .cta-btn.btn-default:hover,
.cta-wrap .cta-btn.btn-default:hover,
.mbr-primary-bgColor,
.nav-tabs > li > a::after,
.services-s5 .service-content:hover i {
  background: #29d9c2 !important;
}
blockquote {
  border-left-color: #29d9c2;
}
.process-step2 .btn-circle:hover,
.process-step2 .btn-info,
.mbr-slider .carousel-control:hover {
  background: #29d9c2 !important;
  border-color: #29d9c2 !important;
}
.services-s5 .service-content:hover i:after,
.cta-wrap.bg-dark .cta-btn:hover,
.cta-wrap.bg-primary .cta-btn:hover,
.nav-link.btn.btn-primary:hover {
  border-color: #29d9c2;
}
.mbr-gallery-filter li.active {
  color: #29d9c2;
  border-color: #29d9c2;
}
.cta-wrap .cta-btn.btn-default:hover,
.cta-wrap.bg-dark .cta-btn.btn-default:hover {
  background: #29d9c2;
  border-color: #29d9c2;
}
.mbr-title-font,
.mbr-gallery-filter li {
  font-family: 'Oswald', sans-serif !important;
}
.mbr-text-font,
p {
  font-family: 'Oswald', sans-serif !important;
}
.btn {
  border-radius: 0 !important;
}
input {
  border-radius: 0 !important;
}
#dropdown-menu1-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-k .nav .link,
#dropdown-menu1-k .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-k .navbar,
#dropdown-menu1-k .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-k .dropdown-menu a:hover,
#dropdown-menu1-k .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-k .navbar-toggler {
  color: #333;
}
#header23-2 .fa {
  color: #ffffff;
}
#header18-7 .btn {
  font-family: 'Oswald', sans-serif;
}
#pricing-table1-5 H3 {
  font-size: 15px;
}
#pricing-table1-6 H3 {
  font-size: 15px;
}
#msg-box7-h p {
  color: #777;
}
#msg-box7-h P {
  color: #ffffff;
}
#msg-box7-h B {
  color: #ffffff;
}
#footer1-g DIV {
  color: #111111;
}

#dropdown-menu1-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-18 .nav .link,
#dropdown-menu1-18 .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-18 .navbar,
#dropdown-menu1-18 .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-18 .dropdown-menu a:hover,
#dropdown-menu1-18 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-18 .navbar-toggler {
  color: #333;
}
#header22-1d H4 {
  color: #000000;
}
#footer1-1a DIV {
  color: #111111;
}

#dropdown-menu1-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-1g .nav .link,
#dropdown-menu1-1g .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-1g .navbar,
#dropdown-menu1-1g .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-1g .dropdown-menu a:hover,
#dropdown-menu1-1g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-1g .navbar-toggler {
  color: #333;
}
#testimonials2-1q P {
  font-size: 15px;
}
#footer1-1i DIV {
  color: #111111;
}

#header17-1w P {
  color: #03a9f4;
}
#dropdown-menu1-1r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-1r .nav .link,
#dropdown-menu1-1r .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-1r .navbar,
#dropdown-menu1-1r .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-1r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-1r .dropdown-menu a:hover,
#dropdown-menu1-1r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-1r .navbar-toggler {
  color: #333;
}
#pricing-table2-21 DIV {
  color: #000000;
}
#footer1-1t DIV {
  color: #111111;
}
